name: Delphi Quality Check
permissions:
  contents: read
  pull-requests: write
on:
  push:
    branches: [ "main", "master", "develop" ]
  pull_request:
    branches: [ "main", "master", "develop" ]
  workflow_dispatch:

jobs:
  fixinsight-analysis:
    name: "TMS FixInsight"
    runs-on: self-hosted 
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Executar FixInsight
        shell: cmd
        run: |
          "C:\Program Files (x86)\FixInsight\FixInsightCL.exe" "Projeto.dproj" --output-format=xml --output-file=fixinsight_results.xml --exit-code --min-severity=W

      - name: Upload Relatorio
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Relatorio-FixInsight
          path: fixinsight_results.xml
