# This is a basic workflow to help you get started with Actions

name: CI

permissions:
  contents: write
  pull-requests: write

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  fixinsight-analysis:
    name: "Analise Estatica FixInsight"
    # IMPORTANTE: Deve ser self-hosted para rodar no seu Windows com Delphi
    runs-on: self-hosted 

    steps:
      - name: 1. Checkout do Codigo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 2. Executar TMS FixInsight
        shell: cmd
        run: |
          :: 1. Vá para a pasta do projeto
          :: 2. Execute o FixInsightCL.exe (Ajuste o caminho abaixo)
          :: 3. O parâmetro --exit-code faz o GitHub bloquear o PR se houver avisos
          
          "C:\Program Files (x86)\FixInsight\FixInsightCL.exe" ^
          "Projeto.dproj" ^
          --fixinsight-settings="Projeto.ficfg" ^
          --output-format=xml ^
          --output-file=fixinsight_results.xml ^
          --exit-code ^
          --min-severity=W

      - name: 3. Upload do Relatorio
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Relatorio-Qualidade-Delphi
          path: fixinsight_results.xml
